body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.controls button {
  margin: 5px;
  padding: 8px 12px;
}

.sliders {
  margin: 15px;
}

.canvases {
  display: flex;
  justify-content: center;
  gap: 30px;
}

canvas {
  max-width: 45vw;
  max-height: 70vh;
  border: 2px solid white;
}
